.notify
{
    background-image: -ms-linear-gradient(top left, #FFFFFF 0%, #BBBBBB 100%);

    /* Mozilla Firefox */ 
    background-image: -moz-linear-gradient(top left, #FFFFFF 0%, #BBBBBB 100%);

    /* Opera */ 
    background-image: -o-linear-gradient(top left, #FFFFFF 0%, #BBBBBB 100%);

    /* Webkit (Safari/Chrome 10) */ 
    background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #FFFFFF), color-stop(1, #BBBBBB));

    /* Webkit (Chrome 11+) */ 
    background-image: -webkit-linear-gradient(top left, #FFFFFF 0%, #BBBBBB 100%);

    /* W3C Markup, IE10 Release Preview */ 
    background-image: linear-gradient(to bottom right, #FFFFFF 0%, #BBBBBB 100%);
    border-radius: 5px;
    border: 1px solid #BBB;
    padding: 20px;
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}